// _layout.scss
@import 'variables';

@mixin templateGrid {
  display: grid;

  // Small screen
  @media screen and (max-width: $smallScreen) {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "info"
    "main"
    "footer";

    footer{
      grid-area: footer;
      width: 100%;

      button {
        float: right;
        padding: 5px 5px 5px 5px;
      }
    }

    .languangeFlag {
      top: 30vw;
    }

    .c-toggle {
      top: 30vw;
    }

    .info {
      figure {
        float: right;
        max-width: 40%;
        padding: 0 0 0 5px;
      }
    }
  }

  // Normal screen
  @media screen and (min-width: $normalScreen) {
    grid-template-columns: 300px auto;
    grid-template-rows: 300px auto;
    grid-template-areas: 
    "info main"
    "info main";

    footer{
      display: none;
    }
  }
}

@mixin templateMain {
  grid-template-columns: auto;
  grid-template-rows: 20px auto;
}

@mixin pictureGrid {
  grid-area: picture;
}

@mixin infoGrid {
  grid-area: info;
}

@mixin mainGrid {
  grid-area: main;

  display: flex;
  flex-flow: column wrap;
}

